.mini-form {
	.group {
		display: flex;
	}

	.el-form-item__label {
		background: fade(@primary, 10);
		border-radius: 4px 0 0 4px;
		padding-left: 10px;
		margin-top: 2px;
	}

	.el-form-item + .el-form-item {
		margin-left: 20px;
	}

	.el-form-item__content {
		float: left;
	}
	.el-input__inner {
		border-radius: 0px 4px 4px 0;
	}
}

.el-select-dropdown.el-popper .popper__arrow {
	display: none;
}
