@import (reference) './less/base';
@import './less/form.less';

html,
body {
	height: 100%;
}

* {
	box-sizing: border-box;
}

body {
	font-size: 12px;
	width: 100%;
	font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
		'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}

a {
	text-decoration: none;
}

.clearfix {
	.clearfix();
}

.module {
	height: 100%;
	position: relative;
	.main-content {
		padding: 15px;
		position: absolute;
		left: 120px;
		bottom: 0px;
		right: 0px;
		top: 60px;
		background-color: @light;
		overflow-y: scroll;
	}
}

.nofound {
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 60px;
	color: @gray;
	font-weight: 100;
}
// 生成各种颜色类
